{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}
{% block page_title %}Mon compte{% endblock %}
{% block page_breadcrumbs %}
    <li><a href="{{ path('home') }}">Accueil</a></li>
    <li class="active">Mon compte</li>
{% endblock %}
{% block body %}
<div class="row">
    <div class="col-lg-3 col-xs-12">
        <div class="panel panel-default card-view  pa-0 bg-dark">
            <div class="panel-wrapper collapse in">
                <div class="panel-body  pa-0">
                    <div class="profile-box">
                        <div class="profile-cover-pic">
                            <div class="profile-image-overlay"></div>
                        </div>
                        <div class="profile-info text-center">
                            <div class="profile-img-wrap">
                                {% set avatar = app.user.picture %}
                                <img class="inline-block mb-10" src="{{ asset('uploads/'~avatar) }}" alt="user"/>
                            </div>
                            <h5 class="block mt-10 mb-5 weight-500 capitalize-font txt-warning">{{ app.user.firstname }} {{ app.user.lastname }}</h5>
                            <h6 class="block capitalize-font pb-20 txt-light">
                                {% if is_granted('ROLE_ADMIN') %}
                                    Administrateur
                                {% else %}
                                    Associé
                                {% endif %}
                            </h6>
                        </div>
                        <div class="social-info">
                            <button class="btn btn-primary btn-block btn-anim mt-30" data-toggle="modal"
                                    data-target="#profile-modal"><i
                                        class="fa fa-pencil"></i><span
                                        class="btn-text">Editer mes informations</span>
                            </button>
                            <button class="btn btn-danger btn-block btn-anim mt-30" data-toggle="modal"
                                    data-target="#password-modal"><i
                                        class="fa fa-pencil"></i><span
                                        class="btn-text">Modifier mon mot de passe</span>
                            </button>
                            <div id="password-modal" class="modal fade in" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content modifUser">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-hidden="true">
                                                ×
                                            </button>
                                            <h5 class="modal-title" id="myModalLabel">Modifier le mot de
                                                passe</h5>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div>
                                                        <div class="panel-wrapper collapse in">
                                                            <div class="panel-body pa-0">
                                                                <div class="col-sm-12 col-xs-12">
                                                                    {{ form_start(edit_password) }}
                                                                    <div class="form-wrap">
                                                                        <div class="form-body overflow-hide">
                                                                            <div class="form-group">
                                                                                {{ form_widget(edit_password.password.first) }}
                                                                            </div>
                                                                            <div class="form-group">
                                                                                {{ form_widget(edit_password.password.second) }}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    {{ form_end(edit_password) }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="profile-modal" class="modal fade in" tabindex="-1" role="dialog"
                                 aria-labelledby="myModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content modifUser">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-hidden="true">
                                                ×
                                            </button>
                                            <h5 class="modal-title" id="myModalLabel">Editer mes informations</h5>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div>
                                                        <div class="panel-wrapper collapse in">
                                                            <div class="panel-body pa-0">
                                                                <div class="col-sm-12 col-xs-12">
                                                                    {{ form_start(edit_profile,{'attr': {'id': 'modif_user'}}) }}
                                                                    <div class="form-wrap">
                                                                        <div class="form-body overflow-hide">
                                                                            <div class="form-group">
                                                                                <div class="input-group">
                                                                                    <div class="profile-img-wrap">
                                                                                        {% set avatar = app.user.picture %}
                                                                                        <img id="current_admin_picture"
                                                                                             class="picture inline-block mb-10"
                                                                                             src="{{ asset('uploads/'~avatar) }}"
                                                                                             alt="user"/>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                {{ form_widget(edit_profile.picture) }}
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <div class="input-group">
                                                                                    <div class="input-group-addon">
                                                                                        <i
                                                                                                class="icon-user"></i>
                                                                                    </div>
                                                                                    {{ form_widget(edit_profile.firstname, {'attr': {
                                                                                        'placeholder':'Prénom'
                                                                                    }}) }}
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <div class="input-group">
                                                                                    <div class="input-group-addon">
                                                                                        <i
                                                                                                class="icon-user"></i>
                                                                                    </div>
                                                                                    {{ form_widget(edit_profile.lastname, {'attr': {
                                                                                        'placeholder':'Nom'
                                                                                    }}) }}
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <div class="input-group">
                                                                                    <div class="input-group-addon">
                                                                                        <i
                                                                                                class="icon-question"></i>
                                                                                    </div>
                                                                                    {{ form_widget(edit_profile.nbPart, {'attr': {
                                                                                        'placeholder':'Nombre de parts dans la SCM'
                                                                                    }}) }}
                                                                                </div>
                                                                            </div>
                                                                            <div class="seprator-block"></div>
                                                                            <h6 class="txt-dark capitalize-font">
                                                                                <i class="zmdi zmdi-account-box mr-10"></i>
                                                                                Adresse
                                                                            </h6>
                                                                            <hr class="light-grey-hr">
                                                                            <div class="form-group">
                                                                                <div class="input-group">
                                                                                    <div class="input-group-addon">
                                                                                        <i
                                                                                                class="icon-book-open"></i>
                                                                                    </div>
                                                                                    {{ form_widget(edit_profile.address, {'attr': {
                                                                                        'placeholder':'Adresse'
                                                                                    }}) }}
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <div class="input-group">
                                                                                    <div class="input-group-addon">
                                                                                        <i
                                                                                                class="icon-book-open"></i>
                                                                                    </div>
                                                                                    {{ form_widget(edit_profile.city, {'attr': {
                                                                                        'placeholder':'Ville'
                                                                                    }}) }}
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <div class="input-group">
                                                                                    <div class="input-group-addon">
                                                                                        <i
                                                                                                class="icon-globe"></i>
                                                                                    </div>
                                                                                    {{ form_widget(edit_profile.country, {'attr': {
                                                                                        'placeholder':'Pays'
                                                                                    }}) }}
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <div class="input-group">
                                                                                    <div class="input-group-addon">
                                                                                        <i
                                                                                                class="icon-book-open"></i>
                                                                                    </div>
                                                                                    {{ form_widget(edit_profile.zipcode, {'attr': {
                                                                                        'placeholder':'Code postal'
                                                                                    }}) }}
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <div class="input-group">
                                                                                    <div class="input-group-addon">
                                                                                        <i
                                                                                                class="icon-phone"></i>
                                                                                    </div>
                                                                                    {{ form_widget(edit_profile.telephone, {'attr': {
                                                                                        'placeholder':'Téléphone',
                                                                                        'data-mask':'+33 (0)9 99 99 99 99'
                                                                                    }}) }}
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    {{ form_end(edit_profile) }}
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-xs-12">
        <div class="panel panel-primary card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-light">Votre SCM</h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body pb-0"></div>
                <div class="tab-struct custom-tab-1">
                    <ul role="tablist" class="nav nav-tabs nav-tabs-responsive" id="scm_tab_profile_head">
                        <li class="active" role="presentation"><a data-toggle="tab" id="#identity_tab" role="tab"
                                                                  href="#profile_8" aria-expanded="false"><span>Identité</span></a>
                        </li>
                        <li role="presentation" class="next"><a aria-expanded="true" data-toggle="tab" role="tab"
                                                                id="follo_tab_8" href="#follo_8"><span>Local</span></a></li>
                        <li role="presentation" class=""><a data-toggle="tab" id="photos_tab_8" role="tab"
                                                            href="#photos_8"
                                                            aria-expanded="false"><span>Montant des charges</span></a></li>
                        <li role="presentation" class=""><a data-toggle="tab" id="earning_tab_8" role="tab"
                                                            href="#earnings_8"
                                                            aria-expanded="false"><span>Configuration</span></a></li>
                    </ul>
                    <div class="tab-content" id="scm_tab_profile_content">
                        <div  id="identity_tab" class="tab-pane fade active in" role="tabpanel">
                            <div class="md-12">
                                <div class="pt-20">
                                    Test
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block javascripts_specifique %}
    {{ encore_entry_script_tags('forseti_readUrl') }}
{% endblock %}