{% extends 'base.html.twig' %}

{% block title %}Création de la SCM{% endblock %}
{% block page_breadcrumbs %}
    <li><a href="{{ path('app_login') }}">Se connecter</a></li>
    <li class="active">Création de votre SCM</li>
{% endblock %}
{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default card-view">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h6 class="panel-title txt-dark">Assistant de création et de configuration de votre SCM</h6>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <form name="registration_form" method="post" id="registration_form"
                              enctype="multipart/form-data" role="application" class="wizard clearfix"
                              novalidate="novalidate">
                            <input type="hidden" name="token" value="{{ csrf_token('register') }}"/>

                            <h3><span class="number"><i class="icon-eye txt-black"></i></span><span
                                class="head-font capitalize-font">Enregistrement de l'administrateur</span></h3>
                            <fieldset>
                                <h6 class="txt-dark capitalize-font">
                                    <i class="zmdi zmdi-account mr-10"></i>
                                    Informations personnelles
                                </h6>
                                <hr class="light-grey-hr">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-wrap">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i
                                                                        class="icon-envelope-open"></i>
                                                            </div>
                                                            {{ form_widget(registrationForm.email, {'attr': {
                                                                'placeholder':'Email'
                                                            }}) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    {{ form_widget(registrationForm.picture) }}
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div>
                                                            <img style="max-width:100%"id="current_admin_user_picture"
                                                                    class="picture inline-block mb-10"
                                                                    src=""/>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="icon-lock"></i>
                                                            </div>
                                                            {{ form_widget(registrationForm.password.first, {'attr': {
                                                                'placeholder':'Mot de passe'
                                                            }}) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="icon-lock"></i>
                                                            </div>
                                                            {{ form_widget(registrationForm.password.second, {'attr': {
                                                                'placeholder':'Répéter le mot de passe'
                                                            }}) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="icon-user"></i>
                                                            </div>
                                                            {{ form_widget(registrationForm.firstname, {'attr': {
                                                                'placeholder':'Prénom'
                                                            }}) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="icon-user"></i>
                                                            </div>
                                                            {{ form_widget(registrationForm.lastname, {'attr': {
                                                                'placeholder':'Nom'
                                                            }}) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="icon-question"></i>
                                                            </div>
                                                            {{ form_widget(registrationForm.nbPart, {'attr': {
                                                                'placeholder':'Nombre de parts dans la SCM'
                                                            }}) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="seprator-block"></div>
                                            <h6 class="txt-dark capitalize-font">
                                                <i class="zmdi zmdi-account-box mr-10"></i>
                                                Adresse
                                            </h6>
                                            <hr class="light-grey-hr">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i
                                                                        class="icon-book-open"></i>
                                                            </div>
                                                            {{ form_widget(registrationForm.address, {'attr': {
                                                                'placeholder':'Adresse'
                                                            }}) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i
                                                                        class="icon-book-open"></i>
                                                            </div>
                                                            {{ form_widget(registrationForm.city, {'attr': {
                                                                'placeholder':'Ville'
                                                            }}) }}
                                                            <div class="response2"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="icon-globe"></i>
                                                            </div>
                                                            {{ form_widget(registrationForm.country, {'attr': {
                                                                'placeholder':'Pays'
                                                            }}) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i
                                                                        class="icon-book-open"></i>
                                                            </div>
                                                            {{ form_widget(registrationForm.zipcode, {'attr': {
                                                                'placeholder':'Code postal'
                                                            }}) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="icon-phone"></i>
                                                            </div>
                                                            {{ form_widget(registrationForm.telephone, {'attr': {
                                                                'placeholder':'Téléphone',
                                                                'data-mask':'+33 (0)9 99 99 99 99'
                                                            }}) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <h3><span class="number"><i class="icon-settings txt-black"></i></span><span
                                        class="head-font capitalize-font">Configuration de la SCM</span></h3>
                            <fieldset>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-wrap">
                                            <h6 class="txt-dark capitalize-font">
                                                <i class="zmdi zmdi-balance mr-10"></i>
                                                Votre SCM
                                            </h6>
                                            <hr class="light-grey-hr">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i
                                                                        class="icon-book-open"></i></div>
                                                            {{ form_widget(formScm.company_name, {'attr': {
                                                                'placeholder':'Raison Sociale'
                                                            }}) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="fileinput fileinput-new input-group"
                                                         data-provides="fileinput">
                                                        <div class="form-control" data-trigger="fileinput">
                                                            <i class="glyphicon glyphicon-file fileinput-exists"></i>
                                                            <span class="fileinput-filename"></span>
                                                        </div>
                                                        <span class="input-group-addon fileupload btn btn-info btn-anim btn-file">
                                                            <i class="fa fa-upload"></i>
                                                            <span class="fileinput-new btn-text">Parcourir</span>
                                                            <span class="fileinput-exists btn-text">Modifier</span>
                                                            <input type="file" name="{{ formScm.logo.vars.name }}"
                                                                   id="{{ formScm.logo.vars.id }}">
                                                        </span>
                                                        <a href="#"
                                                           class="input-group-addon btn btn-danger btn-anim fileinput-exists"
                                                           data-dismiss="fileinput">
                                                            <i class="fa fa-trash"></i>
                                                            <span class="btn-text">Supprimer</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="icon-info"></i>
                                                            </div>
                                                            {{ form_widget(formScm.siret, {'attr': {
                                                                'placeholder':'n°SIRET',
                                                                'data-mask':'999 999 999 999999'
                                                            }}) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="icon-info"></i>
                                                            </div>
                                                            {{ form_widget(formScm.siren, {'attr': {
                                                                'placeholder':'n°SIREN',
                                                                'data-mask':'999 999 999'
                                                            }}) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="seprator-block"></div>
                                            <h6 class="txt-dark capitalize-font">
                                                <i class="zmdi zmdi-account-box mr-10"></i>
                                                Adresse
                                            </h6>
                                            <hr class="light-grey-hr">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i
                                                                        class="icon-book-open"></i></div>
                                                            {{ form_widget(formScm.address, {'attr': {
                                                                'placeholder':'Adresse'
                                                            }}) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i
                                                                        class="icon-book-open"></i></div>
                                                            {{ form_widget(formScm.city, {'attr': {
                                                                'placeholder':'Ville'
                                                            }}) }}
                                                            <div class="response3"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i
                                                                        class="icon-book-open"></i></div>
                                                            {{ form_widget(formScm.zip_code, {'attr': {
                                                                'placeholder':'Code Postal'
                                                            }}) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="icon-phone"></i>
                                                            </div>
                                                            {{ form_widget(formScm.phone, {'attr': {
                                                                'placeholder':'Téléphone',
                                                                'data-mask':'+33 (0)9 99 99 99 99'
                                                            }}) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="seprator-block"></div>
                                            <h6 class="txt-dark capitalize-font">
                                                <i class="zmdi zmdi-info mr-10"></i>
                                                Informations complémentaires
                                            </h6>
                                            <hr class="light-grey-hr">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="icon-home"></i>
                                                            </div>
                                                            {{ form_widget(formScm.ref_local, {'attr': {
                                                                'placeholder':'Référence du local'
                                                            }}) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="icon-home"></i>
                                                            </div>
                                                            {{ form_widget(formScm.invariant_local, {'attr': {
                                                                'placeholder':'Invariant du local'
                                                            }}) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="icon-home"></i>
                                                            </div>
                                                            {{ form_widget(formScm.local_owner, {'attr': {
                                                                'placeholder':'Propriétaire du local'
                                                            }}) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="icon-home"></i>
                                                            </div>
                                                            {{ form_widget(formScm.local_siren, {'attr': {
                                                                'placeholder':'n°SIREN du local',
                                                                'data-mask':'999 999 999'
                                                            }}) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <p class="mb-20">Êtes-vous ?</p>
                                                    <div class="radio radio-info">
                                                        {{ form_widget(formScm.typeTenantOwner) }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="seprator-block"></div>
                                            <h6 class="txt-dark capitalize-font">
                                                <i class="zmdi zmdi-balance-wallet mr-10"></i>
                                                Configuration comptable
                                            </h6>
                                            <hr class="light-grey-hr">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="icon-calender"></i>
                                                            </div>
                                                            {{ form_widget(formScm.accountingExerciceStartAt) }}
                                                            {{ form_widget(formScm.accountingExerciceEndAt) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i
                                                                        class="icon-calculator"></i></div>
                                                            {{ form_widget(formScm.AmountPreviousYearAccountingCharge, {'attr': {
                                                                'placeholder':'Total de charges année précécédente'
                                                            }}) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i
                                                                        class="icon-calculator"></i></div>
                                                            {{ form_widget(formScm.forecast_charge, {'attr': {
                                                                'placeholder':'Montant prévisionnel des charges'
                                                            }}) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i
                                                                        class="icon-calculator"></i></div>
                                                            {{ form_widget(formScm.amountAnuallyRent, {'attr': {
                                                                'placeholder':'Montant loyer annuel'
                                                            }}) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="icon-people"></i>
                                                            </div>
                                                            {{ form_widget(formScm.min_assoc, {'attr': {
                                                                'placeholder':"Nombre minimum d'associés"
                                                            }}) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="icon-people"></i>
                                                            </div>
                                                            {{ form_widget(formScm.max_assoc, {'attr': {
                                                                'placeholder':"Nombre maximum d'associés"
                                                            }}) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <h3><span class="number"><i class="icon-people txt-black"></i></span><span
                                        class="head-font capitalize-font">Ajout des associés</span></h3>
                            <fieldset>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div id="users"
                                             data-prototype="{{ form_widget(formScm.users.vars.prototype)|e }}"
                                             data-widget-tags="{{ '<div class="formscm-user"></div>'|e }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="button_add_users">
                                    <button id='addButton' class="btn btn-primary ml-15 col-sm-1">Ajouter un associé
                                    </button>
                                </div>
                            </fieldset>


                            {{ form_end(registrationForm) }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts_specifique %}
    {{ encore_entry_script_tags('forseti_collection') }}
    <script>
     $(document).on('input','#registration_form_picture',function (e) {
        console.log("toto",$('#registration_form_picture').val())
        if ($('#registration_form_picture').val()) {
            var reader = new FileReader()
    
            reader.onload = function (e) {
                $('#current_admin_user_picture').attr('src', e.target.result)
            }
    
            reader.readAsDataURL($('#registration_form_picture')[0].files[0])
        }
    });

 $(document).on('input','#registration_form_city',(e)=>{
    $(".response2").html('')
    var val = $("#registration_form_city").val()
    console.log(val)
    url =  "https://api-adresse.data.gouv.fr/search/?q="+val+"&type=municipality"
    $.get(url,{   
        access_key:"abfadee90f3388d42847ecaf65fd651d",
        query : $("#registration_form_city").val()
    }).then(function(response){
        var i = 0
        while(i < response.features.length )
        {
            $(".response2").append("<div class='choix' style='cursor:pointer' data-zip='"+response.features[i].properties.postcode+"'>"+response.features[i].properties.name+"("+response.features[i].properties.postcode+")<div>")
            $(".choix").on('click',function(){
                var value = $(this).html()
                var zip = $(this).data('zip')
                var value = value.replace("<div></div>", "");
                $("#registration_form_zipcode").val(zip)
                $("#registration_form_city").val(value)
                $(".response2").html('')
            })        
            i++
        }
    })
    
})

$(document).on('input','#scm_city',(e)=>{
    $(".response3").html('')
    var val = $("#scm_city").val()
    console.log(val)
    url =  "https://api-adresse.data.gouv.fr/search/?q="+val+"&type=municipality"
    $.get(url,{   
        access_key:"abfadee90f3388d42847ecaf65fd651d",
        query : $("#scm_city").val()
    }).then(function(response){
        var i = 0
        while(i < response.features.length )
        {
            $(".response3").append("<div class='choix' style='cursor:pointer' data-zip='"+response.features[i].properties.postcode+"'>"+response.features[i].properties.name+"("+response.features[i].properties.postcode+")<div>")
            $(".choix").on('click',function(){
                var value = $(this).html()
                var zip = $(this).data('zip')
                var value = value.replace("<div></div>", "");
                $("#registration_form_zipcode").val(zip)
                $("#scm_city").val(value)
                $(".response3").html('')
            })        
            i++
        }
    })
})

</script>
{% endblock %}