{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}
{% block page_title %}Récupération de mot de passe{% endblock %}
{% block page_breadcrumbs %}
    <li><a href="{{ path('app_login') }}">Se connecter</a></li>
    <li class="active">Mot de passe oublié</li>{% endblock %}
{% block body %}
    <div class="col-sm-12">
        <div class="panel panel-default card-view">
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    {% for flashError in app.flashes('reset_password_error') %}
                        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                    {% endfor %}
                    {{ form_start(requestForm) }}
                    <div class="row">
                        <div class="col-md-6">
                            <p class="text-muted">Entrez votre adresse email pour recevoir un lien de réinitialisation
                                de votre mot de passe.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon"><i
                                                class="icon-envelope-open"></i>
                                    </div>
                                    {{ form_widget(requestForm.email, {'attr': {
                                        'placeholder':'Email'
                                    }}) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary">Envoyer le mail de récupération</button>
                    {{ form_end(requestForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}