{% extends 'base.html.twig' %}

{% block title %}Hello TestApiController!{% endblock %}

{% block body %}
    <p><a href="{{ path('setbank_bankin_app', {bankid:408}) }}">Banque de test</a></p>
    <img src="{{ asset('img/forseti.png') }}">
    {% for bank in bank_list %}
        {% for child_bank in bank.banks %}
            <p><a href="{{ path('setbank_bankin_app', {bankid:child_bank.id}) }}">{{ child_bank.name }}</a></p>
            <img src="{{ child_bank.logo_url }}">
        {% endfor %}
    {% endfor %}
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default card-view">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h6 class="panel-title txt-dark">Liste des banques</h6>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="treeview" id="treeview_bank"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts_specifique %}
    {# Bootstrap treeview #}
    {{ encore_entry_script_tags('grandin_bootstrap_treeview') }}
    <script type="application/javascript">

        $(document).ready(function($){
            "use strict";
            var bankJson = $.parseJSON(JSON.stringify({{ bank_list | raw }}));

            $('#treeview_bank').treeview({
                levels: 1,
                enableLinks: true,
                data: bankJson
            });
        });

    </script>
{% endblock %}