{% extends 'base.html.twig' %}

{% block title %}Gestion des associés{% endblock %}

{% block page_title %}Gestion des associés{% endblock %}
{% block page_breadcrumbs %}
    <li><a href="{{ path('home') }}">Accueil</a></li>
    <li class="active">Associés</li>{% endblock %}
{% block body %}
    <div class="col-sm-12">
        <div class="panel panel-default card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark">Modification des clés de répartition</h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <p class="text-muted">Veuillez ajouter les clés de répartition pour chaque associé.</p>
                    <div class="pills-struct vertical-pills mt-40">
                        <ul role="tablist" class="nav nav-pills ver-nav-pills" id="myTabs_10">
                            {% for user in assoc_form_list|keys %}
                                <li{% if loop.first %} class="active" {% endif %}><a aria-expanded="true" data-toggle="tab" role="tab"
                                       id="tab_{{ user }}" href="#content_{{ user }}">{{ user }}</a></li>
                            {% endfor %}
                        </ul>
                        <div class="tab-content" id="myTabContent_10">
                                {% set tab = [] %}
                            {% for user, assoc_form in assoc_form_list %}
                                {% if tabAssoc[loop.index0].coefficientgeneral.getValues is not empty and tabAssoc[loop.index0] is defined%}
                                {% for i in 0..tabAssoc[loop.index0].coefficientgeneral.getValues|length-1 %}
                                    {% set tab = tab|merge({(i):tabAssoc[0].coefficientgeneral.getValues[i].coefficient}) %}
                                {% else %}
                                {{toto}}
                                    {% set tab = tab|merge({(i):["","","","","","","","","","","",""]}) %}
                                {% endfor %}
                                {% endif %}
                                <div id="content_{{ user }}" class="tab-pane {% if loop.first %} active in {% endif %} fade" role="tabpanel">
                                
                                {{form_start(assoc_form)}}
                                    {{ form_row(assoc_form.coefficient_january,{
                                        'label':'Janvier',
                                        'value':''
                                        }) }}
                                    {{ form_row(assoc_form.coefficient_february,{'label':'Février'}) }}
                                    {{ form_row(assoc_form.coefficient_march,{'label':'Mars'}) }}
                                    {{ form_row(assoc_form.coefficient_april,{'label':'Avril'}) }}
                                    {{ form_row(assoc_form.coefficient_may,{'label':'Mai'}) }}
                                    {{ form_row(assoc_form.coefficient_june,{'label':'Juin'}) }}
                                    {{ form_row(assoc_form.coefficient_july,{'label':'Juillet'}) }}
                                    {{ form_row(assoc_form.coefficient_august,{'label':'Août'}) }}
                                    {{ form_row(assoc_form.coefficient_september,{'label':'Septembre'}) }}
                                    {{ form_row(assoc_form.coefficient_october,{'label':'Octobre'}) }}
                                    {{ form_row(assoc_form.coefficient_november,{'label':'Novembre'}) }}
                                    {{ form_row(assoc_form.coefficient_december,{'label':'Décembre'}) }}
                                    <input type="hidden" name="user_id" value="{{ user }}" />
                                    <button type="submit">Enregistrer</button>
                                {{form_end(assoc_form)}}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}