{% extends 'base.html.twig' %}

{% block title %}Gestion des associés{% endblock %}

{% block page_title %}
Gestion des associés
 <a class="btn btn-primary mb-5" href="{{ path('app_associe_create_user',{ id : app.user.scm.id }) }}">Ajouter un associé</a>
{% endblock %}
{% block page_breadcrumbs %}
    <li><a href="{{ path('home') }}">Accueil</a></li>
    <li class="active">Associés</li>{% endblock %}
{% block body %}
    <div class="col-sm-12">
            <div id="alert" class="hide alert alert-danger">
            </div>
            <div id="success" class="hide alert alert-success">
            </div>
        {# {% endfor %} #}
        <div class="panel panel-default card-view">
            <div class="panel panel-default card-view">
                <div class="panel-heading">
                    <div class="pull-left">
                        <h6 class="panel-title txt-dark">Récapitulatif</h6>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                        <div class="table-wrap ">
                            <div class="table-responsive">
                                <table class="table table-striped mb-0">
                                    <thead>
                                    <tr>
                                        <th colspan="2">Mois</th>
                                        <th>janvier</th>
                                        <th>Février</th>
                                        <th>Mars</th>
                                        <th>Avril</th>
                                        <th>Mai</th>
                                        <th>Juin</th>
                                        <th>Juillet</th>
                                        <th>Août</th>
                                        <th>Septembre</th>
                                        <th>Octobre</th>
                                        <th>Novembre</th>
                                        <th>Décembre</th>
                                    </tr>
                                    <tr>                                    
                                    <td colspan="2">Total Charges €</td>
                                    {% for i in 1..12 %}
                                        {% set bool = false %}
                                        {% set totalEnCours = 0 %}
                                        {% set month = 0  %}
                                        {% for total in totalChargeMonth %}
                                            {% if i == total["mois"] %}
                                                {% set bool = true  %}
                                                {% set month = i %}
                                                {% set totalEnCours = total["total"]  %}
                                            {% endif %}
                                        {% endfor %} 
                                        {% if bool %}
                                            <td><p>{{totalEnCours}}</p></td>
                                        {% else %}
                                            <td>0</td>
                                        {% endif %}                                        
                                    {% endfor %}
                                    </tr>
                                    <tr>
                                        <th>Nom</th>
                                        <th>Prénom</th>
                                        {% for i in 1..12  %}
                                            <th style="background-color: #dedede "></th>
                                        {% endfor %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for user in allUsers %}
                                        <tr>
                                            <th>{{ user.lastname|capitalize }}</th>
                                            <td>{{ user.firstname|capitalize }} {% if 'ROLE_ADMIN' in user.roles %}<p
                                                        class="alert-success p-3 text-center">admin</p>{% endif %}</td>
                                            {% set admin = false %}
                                            {% set updateAdmin = "" %}
                                            {% if user.coefficientgeneral.values %}
                                                {% for coeff in user.coefficientgeneral.values %}
                                                    {% if 'ROLE_ADMIN' in user.roles %}
                                                        {% set admin = true  %}
                                                        {% set updateAdmin = "updateAdmin" %}
                                                    {% else %}
                                                        {% set admin = false  %}
                                                        {% set updateAdmin = "" %}
                                                    {% endif %}                                          
                                                    <td class="month_{{loop.index}} {{updateAdmin}}" data-admin="{{admin}}" id="user_{{user.id}}_coeff_{{loop.index}}">{{ coeff.coefficient }}</td>
                                                {% endfor %}
                                            {% else %}
                                                {% for i in 0..11 %}
                                                    {% set val = 0  %}
                                                        {% if 'ROLE_ADMIN' in user.roles %}
                                                            {% set admin = true  %}
                                                            {% set updateAdmin = "updateAdmin" %}
                                                            {% set val = 100  %}
                                                        {% else %}
                                                            {% set val = 0 %}
                                                        {% endif %}                                                
                                                        <td class="month_{{loop.index}} {{updateAdmin}}" id="user_{{user.id}}_coeff_{{loop.index}}" >{{val}}</td>
                                                {% endfor %}
                                            {% endif %}
                                        </tr>
                                        <tr>
                                            <th></th>                                         
                                            <td><strong>Total €</strong></td>                                            
                                            {% if user.coefficientgeneral.values %}
                                                {% for coeff in user.coefficientgeneral.values %}
                                                    {% set bool = false  %}
                                                    {% set totalEnCours = 0  %}
                                                    {% set month = 0 %}
                                                    {% for total in totalChargeMonth %}
                                                            {% set month = coeff.month|date('n')|number_format %}
                                                        {% if coeff.month|date('n')|number_format == total["mois"] %}
                                                            {% set bool = true  %}
                                                            {% set totalEnCours = total["total"]  %}
                                                        {% endif %}
                                                    {% endfor %} 
                                                    {% if bool %}
                                                        <td  id="total_{{month}}_{{user.id}}"><p>{{(totalEnCours * coeff.coefficient / 100)|number_format(2,',','.')}}</p></td>
                                                    {% else %}
                                                        <td id="total_{{month}}_{{user.id}}">0</td>
                                                    {% endif %}                                                      
                                                {% endfor %}
                                            {% else %}
                                                {% set month = 0 %}
                                                {% for i in 1..12 %}
                                                {% set month = loop.index %}
                                                        <td id="total_{{month}}_{{user.id}}">0</td>                                                    
                                                {% endfor %}                                           
                                            {% endif %} 
                                        </tr>
                                        <tr></tr>
                                        <tr>
                                        {# <td colspan="2"></td> #}
                                        {% for i in 1..14  %}
                                            <th style="background-color: #dedede "></th>
                                        {% endfor %}
                                        </tr>
                                    {% endfor %}
                                    <tr>
                                        <td colspan="2"><strong>Parts Restantes</strong></td>
                                        {% for user in allUsers %}
                                            {% if 'ROLE_ADMIN' in user.roles %}
                                                {% if user.coefficientgeneral.values %}
                                                    {% for coeff in user.coefficientgeneral.values %}
                                                        <td class="updateTotal"><strong >{{coeff.coefficient }}</strong></td>
                                                    {% endfor %}
                                                {% else %}
                                                    {% for i in 0..11 %}
                                                        <td class="updateTotal"><strong >100</strong></td>                                                    
                                                    {% endfor %}
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                   
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark">Modification des clés de répartition</h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <p class="text-muted">Veuillez ajouter les clés de répartition pour chaque associé.</p>
                    <div class="pills-struct horizontal-pills mt-40">
                        <ul role="tablist" class="nav nav-pills" id="myTabs_10">
                            {% set tab = [] %}
                            {% for user in assoc_form_list|keys %}
                                <li{% if loop.first %} class="active" {% endif %}><a aria-expanded="true"
                                                                                     data-toggle="tab" role="tab"
                                                                                     id="tab_{{ user }}"
                                                                                     href="#content_{{ user }}">{{ allUsers[loop.index].firstname }} {{ allUsers[loop.index].lastname }}</a>
                                </li>
                                {% set index = loop.index0 %}
                                {% if tabAssoc[index] is not empty and tabAssoc[index] is defined %}
                                    {% for i in 0..tabAssoc[index]|length-1 %}
                                        {% set tab = tab|merge({(user~"_"~i):tabAssoc[index][i].coefficient}) %}
                                    {% endfor %}
                                {% else %}
                                    {% for i in 0..11 %}
                                        {% set tab = tab|merge({(user~"_"~i):0}) %}
                                    {% endfor %}

                                {% endif %}
                            {% endfor %}
                        </ul>
                        <div class="tab-content" id="myTabContent_10">
                            {% for user, assoc_form in assoc_form_list %}
                                <div id="content_{{ user }}"
                                     class="tab-pane {% if loop.first %} active in {% endif %} fade"
                                     role="tabpanel">
                                    <div class="table-responsive">
                                        {{ form_start(assoc_form, {'attr': {'id':"form_coeff_" ~ user}})}}
                                        <table>
                                            <tr>
                                                <th>
                                                    {{ form_row(assoc_form.coefficient_january,{
                                                        'label':'Janvier',
                                                        'value':tab[user~"_0"]
                                                    }) }}
                                                </th>
                                                <th>
                                                    {{ form_row(assoc_form.coefficient_february,{
                                                        'label':'Février',
                                                        'value':tab[user~"_1"]
                                                    }) }}
                                                </th>
                                                <th>
                                                    {{ form_row(assoc_form.coefficient_march,{
                                                        'label':'Mars',
                                                        'value':tab[user~"_2"]
                                                    }) }}
                                                </th>
                                                <th>
                                                    {{ form_row(assoc_form.coefficient_april,{
                                                        'label':'Avril',
                                                        'value':tab[user~"_3"]
                                                    }) }}
                                                </th>
                                                <th>
                                                    {{ form_row(assoc_form.coefficient_may,{
                                                        'label':'Mai',
                                                        'value':tab[user~"_4"]
                                                    }) }}
                                                </th>
                                                <th>
                                                    {{ form_row(assoc_form.coefficient_june,{
                                                        'label':'Juin',
                                                        'value':tab[user~"_5"]
                                                    }) }}
                                                </th>
                                                <th>
                                                    {{ form_row(assoc_form.coefficient_july,{
                                                        'label':'Juillet',
                                                        'value':tab[user~"_6"]
                                                    }) }}
                                                </th>
                                                <th>
                                                    {{ form_row(assoc_form.coefficient_august,{
                                                        'label':'Août',
                                                        'value':tab[user~"_7"]
                                                    }) }}
                                                </th>
                                                <th>
                                                    {{ form_row(assoc_form.coefficient_september,{
                                                        'label':'Septembre',
                                                        'value':tab[user~"_8"]
                                                    }) }}
                                                </th>
                                                <th>
                                                    {{ form_row(assoc_form.coefficient_october,{
                                                        'label':'Octobre',
                                                        'value':tab[user~"_9"]
                                                    }) }}
                                                </th>
                                                <th>
                                                    {{ form_row(assoc_form.coefficient_november,{
                                                        'label':'Novembre',
                                                        'value':tab[user~"_10"]
                                                    }) }}
                                                </th>
                                                <th>
                                                    {{ form_row(assoc_form.coefficient_december,{
                                                        'label':'Décembre',
                                                        'value':tab[user~"_11"]
                                                    }) }}
                                                </th>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <input type="hidden" name="user_id" value="{{ user }}"/>
                                                    <button type="submit" class="valid_coeff" class="btn" data-user-id="{{user}}" data-ajax-url="{{ path('app_associe')}}">Enregistrer</button>
                                                </th>
                                            </tr>
                                        </table>
                                        {{ form_end(assoc_form) }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts_specifique %}
    <script>
        $('input').focus(function(){
            //on récup le mois
            let month = $(this).attr('id')
            month = month.replace('coefficient_general_coefficient_','')

            var months = [
            'january', 'february', 'march', 'april', 'may',
            'june', 'july', 'august', 'september',
            'october', 'november', 'december'
            ]
            var tab = []
            //récup la tab du total des coefs
            tab = {{totelCoeffsPerMonth|json_encode|raw }}
            function monthNameToNum(monthname) {
                var month = months.indexOf(monthname)
                return month
            }  
            //on transforme le mois en  num du mois  
            month = monthNameToNum(month)

            //on récup la valeure du total des coeffs du mois
            totalCoeffMonth = tab[month].total

            //on récup la valeur avant modif
            let value = $(this).val()
            $(this).keyup(function(){
                let val = $(this).val()

                //test si le total aprés modif > 100
                if(parseInt((totalCoeffMonth) - value) + parseInt(val) > 100 ){//si oui

                    //on bloque le bouton
                    $(".valid_coeff").prop('disabled', true)

                    //on bloque les inputs
                    $("input").prop('disabled', true)

                    //on débloque l'input en cours
                    $(this).prop('disabled', false)
                    $("#alert").removeClass('hide')
                    $("#alert").css('z-index','1')
                    $("#alert").css('position','fixed')
                    $("#alert").css('width','25%')
                    $("#alert").css('top','60vh')
                    $("#alert").css('left','50vw')

                    //on affiche l'alerte
                    $("#alert").slideDown(500, function () {
                        var tot = 100 - parseInt(totalCoeffMonth)      
                        var mess ="coefficient trop élevé il reste que "+ tot +" parts pour le mois de " + months[month]
                        $("#alert").html(mess)
                        setTimeout(function () {
                            $("#alert").slideUp(500)
                            $("#alert").addClass('hide')
                            $("#alert").html("")
                        }, 5000)
                    })
                }
                else if(val > 100 || val < 0){// on vérif si la valeure entrée est > 100 ou < 0
                    $(".valid_coeff").prop('disabled', true)
                    $("input").prop('disabled', true)
                    $(this).prop('disabled', false)
                    $(this).css('border-color','red')
                    $(this).focus()
                    $("#alert").removeClass('hide')
                    $("#alert").css('z-index','1')
                    $("#alert").css('position','fixed')
                    $("#alert").css('width','25%')
                    $("#alert").css('top','60vh')
                    $("#alert").css('left','50vw')

                    //on affiche l'alerte
                    $("#alert").slideDown(500, function () {
                        if(val > 100){
                            var mess ="coefficient trop élevé"
                        }
                        else{
                            mess = "coefficient inférieur à 0"
                        }
                        
                        $("#alert").html(mess)
                        setTimeout(function () {
                            $("#alert").slideUp(500)
                            $("#alert").addClass('hide')
                            $("#alert").html("")
                        }, 5000)
                    })
                }
                else{
                    //on débloque tout
                    $(".valid_coeff").prop('disabled', false)
                    $("input").prop('disabled', false)
                    $(this).css('border-color','')
                }
            })
        })
    </script>
{% endblock %}