{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}
{% block page_breadcrumbs %}
    <li><a href="{{ path('home') }}">Accueil</a></li>
    <li><a href="{{ path('app_associe') }}">Associés</a></li>
    <li class="active">Nouvel associé</li>
{% endblock %}
{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
{{form_start(form)}}
  <div class="panel-wrapper collapse in">
                    <div class="panel-body">
                            <input type="hidden" name="token" value="{{ csrf_token('register') }}"/>

                            <h3><span class="number"><i class="icon-eye txt-black"></i></span><span
                                class="head-font capitalize-font">Nouvel associé</span></h3>
                            <fieldset>
                                <h6 class="txt-dark capitalize-font">
                                    <i class="zmdi zmdi-account mr-10"></i>
                                    Informations personnelles
                                </h6>
                                <hr class="light-grey-hr">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-wrap">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i
                                                                        class="icon-envelope-open"></i>
                                                            </div>
                                                            {{ form_widget(form.email, {'attr': {
                                                                'placeholder':'Email'
                                                            }}) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    {{ form_widget(form.picture) }}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="icon-lock"></i>
                                                            </div>
                                                            {{ form_widget(form.password.first, {'attr': {
                                                                'placeholder':'Mot de passe'
                                                            }}) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="icon-lock"></i>
                                                            </div>
                                                            {{ form_widget(form.password.second, {'attr': {
                                                                'placeholder':'Répéter le mot de passe'
                                                            }}) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="icon-user"></i>
                                                            </div>
                                                            {{ form_widget(form.firstname, {'attr': {
                                                                'placeholder':'Prénom'
                                                            }}) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="icon-user"></i>
                                                            </div>
                                                            {{ form_widget(form.lastname, {'attr': {
                                                                'placeholder':'Nom'
                                                            }}) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="icon-question"></i>
                                                            </div>
                                                            {{ form_widget(form.nbPart, {'attr': {
                                                                'placeholder':'Nombre de parts dans la SCM'
                                                            }}) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="seprator-block"></div>
                                            <h6 class="txt-dark capitalize-font">
                                                <i class="zmdi zmdi-account-box mr-10"></i>
                                                Adresse
                                            </h6>
                                            <hr class="light-grey-hr">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i
                                                                        class="icon-book-open"></i>
                                                            </div>
                                                            {{ form_widget(form.address, {'attr': {
                                                                'placeholder':'Adresse'
                                                            }}) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i
                                                                        class="icon-book-open"></i>
                                                            </div>
                                                            {{ form_widget(form.city, {'attr': {
                                                                'placeholder':'Ville'
                                                            }}) }}
                                                            <div class="response"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="icon-globe"></i>
                                                            </div>
                                                            {{ form_widget(form.country, {'attr': {
                                                                'placeholder':'Pays'
                                                            }}) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i
                                                                        class="icon-book-open"></i>
                                                            </div>
                                                            {{ form_widget(form.zipcode, {'attr': {
                                                                'placeholder':'Code postal'
                                                            }}) }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="input-group">
                                                            <div class="input-group-addon"><i class="icon-phone"></i>
                                                            </div>
                                                            {{ form_widget(form.telephone, {'attr': {
                                                                'placeholder':'Téléphone',
                                                                'data-mask':'+33 (0)9 99 99 99 99'
                                                            }}) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
{{form_end(form)}}
</div>
{% endblock %}
{% block javascripts_specifique %}
<script>
 $("#user_admin_city").on("keyup",(e)=>{
    $(".response").html('')
    var val = $("#user_admin_city").val()
    url =  "https://api-adresse.data.gouv.fr/search/?q="+val+"&type=municipality"
    $.get(url,{   
        access_key:"abfadee90f3388d42847ecaf65fd651d",
        query : $("#user_admin_city").val()
    }).then(function(response){
        var i = 0
        while(i < response.features.length )
        {
            $(".response").append("<div class='choix' style='cursor:pointer' data-zip='"+response.features[i].properties.postcode+"'>"+response.features[i].properties.name+"("+response.features[i].properties.postcode+")<div>")
            $(".choix").on('click',function(){
                var value = $(this).html()
                var zip = $(this).data('zip')
                var value = value.replace("<div></div>", "");
                $("#user_admin_zipcode").val(zip)
                $("#user_admin_city").val(value)
                $(".response").html('')
            })        
            i++
        }
    })
})
</script>
{% endblock %}