{% extends 'base.html.twig' %}



{% block pdf %}
<style>
    *{
        margin:0.2em;
        font-family:Roboto;
        font-size:0.98em
    }
    .table, td, th { 
        border: 1px solid black;
        border-collapse: collapse;
    }
    td{
         padding:0 1em;
    }
    .fixed-sidebar-left, .navbar{
        display:none;
    }
</style>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Generate PDF File</title>
        <link type="text/css"  href="{{asset('css/app.css')}}" rel="stylesheet" />
    </head>
    <body>
        {% set Tabmoyenne = [] %}
        {% set moyenne = 0 %}
        {% for user in scm.users %}
        {% set total = 0  %}
            {% for coeffs in user.coefficientgeneral %}
                    {% set total = coeffs.coefficient + total  %}
                                
            {% endfor %}
            {% set moyenne = total / 12 %}
        {% set Tabmoyenne = Tabmoyenne|merge({ ("user"~user.id) : moyenne }) %}
        {% endfor %}
        <table class="table table-striped test">
        <tr>
            <th colspan="9">V — ÉTAT DÉTAILLÉ DES DÉPENSES RÉPARTIES ENTRE LES ASSOCIÉS DES SOCIÉTÉS CIVILES DE MOYENS **
(si ce cadre est insuffisant, joindre un état de même modèle)
CES DÉPENSES SONT À VENTILER SUR LA DÉCLARATION PROFESSIONNELLE DE CHACUN DES ASSOCIÉS </th>
        </tr>
        <thead>
        <tr>
            <th> N°d’ordre des associés *</th>
            <th>Achats (à l’exclusion des dépenses de matériel et d’outillage) </th>
            <th colspan="2">Frais de personnel </th> 
            <th colspan="3"> Impôts et taxes</th>
            <th>Loyer et charges locatives (baux professionnels)</th> 
            <th>Location de matériel et de mobilier</th>             
        </tr>
        <tr>
            <th></th>
            <th></th> 
            <th>Salaires nets et avantages en nature</th>
            <th>Charges sociales sur salaires (parts patronales et ouvrières)</th> 
            <th>Taxes foncières sur les propriétés bâties</th>
            <th>Taxe sur les salaires</th> 
            <th>Autres impôts</th>
            <th></th>
            <th></th>  
        </tr>
        </thead>
        <tbody>
        {% for user in scm.users %}
        <tr>
            <td>{{user.id}}</td>
            <td></td>
            <td>
            {% for type in totalChargePerType %}
                {% if type["label"] ==  "Salaires nets et avantages en nature " %}
                    {{(type["total"] * Tabmoyenne["user"~user.id] / 100)|round}}
                {% endif %}
            {% endfor %}
            </td> 
            <td>
                 {% for type in totalChargePerType %}
                {% if type["label"] ==  "Charges sociales sur salaires (parts patronales et ouvrières)" %}
                     {{(type["total"] * Tabmoyenne["user"~user.id] / 100)|round}}
                {% endif %}
            {% endfor %}
            </td>
            <td>
                 {% for type in totalChargePerType %}
                {% if type["label"] ==  "Taxes foncières sur les propriétés bâties" %}
                     {{(type["total"] * Tabmoyenne["user"~user.id] / 100)|round}}
                {% endif %}
            {% endfor %}
            </td> 
            <td>
                 {% for type in totalChargePerType %}
                {% if type["label"] ==  "Autres impôts" %}
                     {{(type["total"] * Tabmoyenne["user"~user.id] / 100)|round}}
                {% endif %}
            {% endfor %}
            </td>
            <td>
                 {% for type in totalChargePerType %}
                {% if type["label"] ==  "Loyer et charges locatives (baux professionnels)" %}
                     {{(type["total"] * Tabmoyenne["user"~user.id] / 100)|round}}
                {% endif %}
            {% endfor %}
            </td> 
            <td>
             {% for type in totalChargePerType %}
                {% if type["label"] ==  "Location de matériel et de mobilier" %}
                     {{(type["total"] * Tabmoyenne["user"~user.id] / 100)|round}}
                {% endif %}
            {% endfor %}
            </td>
            <td></td>
        </tr>
        {% endfor %}
        
        <tr>
            <th> N°d’ordre des associés *</th>
            <th>Entretien et réparations</th> 
            <th>Personnel intérimaire </th>
            <th>Matériel et petit outillage (valeur unitaire < 500€ HT) </th> 
            <th>Chauffage, eau, gaz, électricité </th>
            <th>Honoraires ne constituant pas des rétrocessions</th> 
            <th>Primes d’assurances </th>
            <th>Frais de véhicules </th>
            <th>Autres frais de déplacements (voyages) </th>  
        </tr>
       
        {% for user in scm.users %}
        <tr>
            <td>{{user.id}}</td>
            <td>
                 {% for type in totalChargePerType %}
                {% if type["label"] ==  "Entretien et réparations" %}
                     {{(type["total"] * Tabmoyenne["user"~user.id] / 100)|round}}
                {% endif %}
            {% endfor %}
            </td>
            <td>
                 {% for type in totalChargePerType %}
                {% if type["label"] ==  "Personnel intérimaire" %}
                     {{(type["total"] * Tabmoyenne["user"~user.id] / 100)|round}}
                {% endif %}
            {% endfor %}
            </td> 
            <td>
                 {% for type in totalChargePerType %}
                {% if type["label"] ==  "Matériel et petit outillage (valeur unitaire < 500€ HT) " %}
                     {{(type["total"] * Tabmoyenne["user"~user.id] / 100)|round}}
                {% endif %}
            {% endfor %}
            </td>
            <td>
                 {% for type in totalChargePerType %}
                {% if type["label"] ==  "Chauffage, eau, gaz, électricité" %}
                     {{(type["total"] * Tabmoyenne["user"~user.id] / 100)|round}}
                {% endif %}
            {% endfor %}
            </td> 
            <td>
                 {% for type in totalChargePerType %}
                {% if type["label"] ==  "Honoraires ne constituant pas des rétrocessions" %}
                     {{(type["total"] * Tabmoyenne["user"~user.id] / 100)|round}}
                {% endif %}
            {% endfor %}
            </td>
            <td>
                 {% for type in totalChargePerType %}
                {% if type["label"] ==  "Primes d’assurances" %}
                     {{(type["total"] * Tabmoyenne["user"~user.id] / 100)|round}}
                {% endif %}
            {% endfor %}
            </td>
            <td>
                 {% for type in totalChargePerType %}
                {% if type["label"] ==  "Frais de véhicules" %}
                     {{(type["total"] * Tabmoyenne["user"~user.id] / 100)|round}}
                {% endif %}
            {% endfor %}
            </td> 
            <td>
                 {% for type in totalChargePerType %}
                {% if type["label"] ==  "Autres frais de déplacements (voyages)" %}
                     {{(type["total"] * Tabmoyenne["user"~user.id] / 100)|round}}
                {% endif %}
            {% endfor %}
            </td> 
        </tr>
        {% endfor %}
        
        <tr>
            <th> N°d’ordre des associés *</th>
            <th>Frais de réception, de représentation et de congrès </th> 
            <th>Fournitures de bureau, frais de documentation, de correspondance et de téléphone  </th>
            <th>Frais d’actes et de contentieux  </th> 
            <th>Cotisations syndicales et professionnelles  </th>
            <th>Autres frais divers de gestion</th> 
            <th>Frais financiers</th>
            <th>Amortissements (fraction répartie entre les associés) </th>
            <th>Total par associé (Total des colonnes 1 à 23) </th>  
        </tr>
        </thead>
        <tbody>
        {% for user in scm.users %}
        <tr>
            <td>{{user.id}}</td>
            <td>
                 {% for type in totalChargePerType %}
                {% if type["label"] ==  "Frais de réception, de représentation et de congrès" %}
                     {{(type["total"] * Tabmoyenne["user"~user.id] / 100)|round}}
                {% endif %}
            {% endfor %}
            </td>
            <td>
                 {% for type in totalChargePerType %}
                {% if type["label"] ==  "Fournitures de bureau, frais de documentation, de correspondance et de téléphone" %}
                     {{(type["total"] * Tabmoyenne["user"~user.id] / 100)|round}}
                {% endif %}
            {% endfor %}
            </td> 
            <td>
                 {% for type in totalChargePerType %}
                {% if type["label"] ==  "Frais d’actes et de contentieux" %}
                     {{(type["total"] * Tabmoyenne["user"~user.id] / 100)|round}}
                {% endif %}
            {% endfor %}
            </td>
            <td>
                 {% for type in totalChargePerType %}
                {% if type["label"] ==  "Cotisations syndicales et professionnelles" %}
                     {{(type["total"] * Tabmoyenne["user"~user.id] / 100)|round}}
                {% endif %}
            {% endfor %}
            </td> 
            <td>
                 {% for type in totalChargePerType %}
                {% if type["label"] ==  "Autres frais divers de gestion" %}
                     {{(type["total"] * Tabmoyenne["user"~user.id] / 100)|round}}
                {% endif %}
            {% endfor %}
            </td>
            <td>
                 {% for type in totalChargePerType %}
                {% if type["label"] ==  "Frais financiers" %}
                     {{(type["total"] * Tabmoyenne["user"~user.id] / 100)|round}}
                {% endif %}
            {% endfor %}
            </td>
            <td>
                 {% for type in totalChargePerType %}
                {% if type["label"] ==  "Amortissements (fraction répartie entre les associés)" %}
                     {{(type["total"] * Tabmoyenne["user"~user.id] / 100)|round}}
                {% endif %}
            {% endfor %}
            </td> 
            <td>{{(totalCharge * Tabmoyenne["user"~user.id] / 100)|round}}</td> 
        </tr>
        {% endfor %}
        <tr>
          <td colspan="8">MONTANT TOTAL DES DÉPENSES RÉPARTIES ENTRE LES ASSOCIÉS </td>
          <td colspan="9">{{totalCharge}}</td>
        </tr>
        <tr>
          <td colspan="9">* IMPORTANT: l’ordre des associés doit être identique à celui déjà mentionné au tableau III. S’agissant des associés dont l’activité est soumise à l’impôt
sur le revenu dans la catégorie des bénéfices non commerciaux, les dépenses doivent être reportées sur le formulaire n° 2035-SD (annexe 2035-A-SD).
<br>** Cet état détaillé doit être servi conformément à l’article 261B du code général des impôts et aux articles 46 terdecies G et 96 A de l’annexe III au
même code. Les dépenses à répartir sont les dépenses communes payées par la société en vue de mettre à la disposition de ses membres les moyens
nécessaires à l’exercice de leur profession et effectivement remboursées par ces derniers. Elles ne comprennent pas les dépenses particulières des
associés tels que les cotisations personnelles ou la contribution économique territoriale et les frais de déplacement. La répartition des dépenses
communes entre les associés doit se faire en imputant à chacun le coût des achats, fournitures ou services le concernant et en répartissant de la
même manière les amortissements régulièrement comptabilisés. Il convient de distinguer (en les soulignant d’un trait), les dépenses communes dont
le remboursement est exonéré de TVA, à savoir les dépenses correspondant uniquement à des prestations de services qui concourent directement
et exclusivement à la réalisation d’opérations professionnelles exonérées de TVA ou placées hors du champ d’application de cette taxe.</td>
        </tr>
        </tbody>
            
        </table>
    </body>
</html>
{% endblock %}

